@mixin respond($breakpoint) {
    // 300px
    @if $breakpoint == mini-phone {
        @media (max-width: 300px) {
            @content;
        }
    }
    // 600px
    @if $breakpoint == phone {
        @media (max-width: 37.5em) {
            @content;
        }
    }

    @if $breakpoint == large-phone {
        @media (max-width: 50em) {
            @content;
        }
    }
    // 900px
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) {
            @content;
        }
    }
    // 1200px
    @if $breakpoint == tab-land {
        @media (max-width: 1200px) {
            @content;
        }
    }
    // 1400px
    @if $breakpoint == lap-top {
        @media (max-width: 1400px) {
            @content;
        }
    }
    // 1600px
    @if $breakpoint == icon-lap-top {
        @media (max-width: 1600px) {
            @content;
        }
    }
    // 1730px
    @if $breakpoint == icon-lap-top-big {
        @media (max-width: 1730px) {
            @content;
        }
    }
    // 1920px
    @if $breakpoint == desktop {
        @media (max-width: 1920px) {
            @content;
        }
    }
    //2500px
    @if $breakpoint == desktop-large {
        @media (min-width: 1921px) {
            @content;
        }
    }
}

@mixin customRespond($arg) {
    @media (max-width: $arg) {
        @content;
    }
}

@mixin maxWithCenter {
    max-width: 1520px;
    width: 100%;
    margin: 0 auto;
}
@mixin appleScrollbar {
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background-color: #f7f7f7;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #e5e5e5;
        // border-radius: 4px;
    }

    scrollbar-width: thin;
    scrollbar-color: #e5e5e5 #f7f7f7;
}
@mixin menuAnimation($start, $stop) {
    @-webkit-keyframes menuAnimation {
        0% {
            opacity: 0;
            top: $start;
        }
        100% {
            opacity: 1;
            top: $stop;
        }
    }
}

@mixin menuAnimationTab {
    @-webkit-keyframes menuAnimationTab {
        0% {
            opacity: 0;
            top: 70px;
        }
        100% {
            opacity: 1;
            top: 80px;
        }
    }
}
@mixin roundedSilverBorder {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: $color-gray-f8;
    border-width: 0 1px 1px 1px;
    border-style: inset;
    -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.05);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.05);
    //-webkit-border-radius: 8px;
    //border-radius: 0 0 8px 8px;
}
@mixin roundedHeadElement {
    width: 100%;
    background-color: $color-2nd-darker;
    //-webkit-border-radius: 4px 4px 0 0;
    //border-radius: 4px 4px 0 0;
    height: 55px;
    padding: 0 50px;
    color: $color-white;
    font-weight: 700;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-between;
    @include respond(phone) {
        padding: 0 16px;
    }
    .button {
        cursor: pointer;
        transition: 0.3s;
    }
    .isExpanded {
        transform: rotate(180deg);
    }
}
@mixin tableGrid {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7, minmax(100px, 1fr));

    @include respond(tab-land) {
        grid-template-columns: repeat(6, minmax(90px, 1fr));
    }
    @include respond(phone) {
        grid-template-columns: repeat(3, minmax(100px, 1fr));
    }
    @media (max-width: 355px) {
        grid-template-columns: repeat(3, minmax(90px, 1fr));
    }
}

@mixin centerElements {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin resetStylePrimeInputText {
    .p-inputtext:enabled:focus {
        box-shadow: none;
        outline: none;
        border-color: #dadada;
    }
}
